<h1>Edit your poem</h1>       
<form action="/poems/<%=@poem.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch"> 

    Title: <input type="text" name="title" value="<%=@poem.title%>">
    Date: <input type="date" name="date" value="<%=@poem.date%>">
    Body: <input type="text" name="content" value="<%=@poem.content%>">





<input type="submit" value="Edit Poem">

<form action="/poems/<%=@poem.id%>/delete" method="post"> 
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Poem">
</form>

</form>





<a href="/poets/home"><button>Home</button></a>